// Typography
$sans-serif: "Helvetica Neue", $helvetica;
$serif: $georgia;
$display: $bebas-neue--bold, $helvetica;
$base-font-family: $sans-serif;
$header-font-family: $display;
$numbers: $helvetica;

// Font Sizes
$base-font-size: 16px; // TODO: or, should this be 1em?
$h1-font-size: $base-font-size * 2.25;
$h2-font-size: $base-font-size * 2;
$h3-font-size: $base-font-size * 1.75;
$h4-font-size: $base-font-size * 1.5;
$h5-font-size: $base-font-size * 1.25;
$h6-font-size: $base-font-size;

// Line height
$base-line-height: 1.5;
$header-line-height: 1;

// Other Sizes
$base-border-radius: 3px;
$border-radius-large: 6px;
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;

// Colors
$red: #96151B;
$light-red: #FBE3E4;

$green: #56651A;
$light-green: #E6EFC2;

$yellow: #8C7800;
$light-yellow: #FFF6BF;

$blue: #244E8C;
$light-blue: #E5EDF8;

$darker-grey: #161616;
$dark-grey: #242424;
$medium-grey: #333;
$light-grey: #BBB;

$black: $darker-grey;
$white: #fff;

// Background Color
$base-background-color: $dark-grey;
$background: $base-background-color;

// Font Colors
$base-font-color: $white;
$base-accent-color: $medium-grey;

// Link Colors
$base-link-color: $white;
$hover-link-color: $light-grey;
$base-button-color: $red;
$hover-button-color: darken( $red, 10 );

// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: $light-blue;
$success-color: $light-green;

// Border color
$base-border-color: $medium-grey;
$base-border: 1px solid $base-border-color;

// Social Colors
$twitter: #55acee;
$facebook: #3b5998;
$googleplus: #dd4b39;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken( $base-border-color, 10 );
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(black,0.03);
$form-box-shadow-focus: $form-box-shadow, 0 0 2px rgba(darken( $form-border-color-focus, 5), 0.7);
$form-font-size: 1.1em;
$form-font-family: $base-font-family;
