@import 'bourbon';
@import 'neat';
@import 'application/base/base';
@import 'application/components/all';
@import 'application/layouts/all';

html {
  background: $base-background-color;
  height: 100%;
}

body {
  background: $base-background-color;
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1 0 auto;
}

.ie6,
.ie7,
.ie8 {
  body {
    width: 960px !important;
    margin: 0 auto;
  }
}
