.ctas {
  @include clearfix;
  display: table;
  border-top: 1px solid $medium-grey;
  margin-top: -1px;
  width: 100%;

  > *:first-child {
    border-right: 1px solid $medium-grey;

    @include media($medium-screen-down) {
      border-right: 0;
    }
  }

  .season-banner {
    display: table-cell;
    float: none;
    padding-left: $gutter*2 !important;
    padding-right: $gutter*2 !important;
    width: 50%;

    @include media($medium-screen-down) {
      width: 100%;
      display: block !important;
    }

    @include media($small-screen) {
      padding-left: $gutter !important;
      padding-right: $gutter !important;
    }

    &--view_all {
      padding: $gutter*2;
    }
  }
}
