.footer,
.about {
  @include clearfix;
  display: table;
  width: 100%;

  &-form,
  &-copyright,
  &-tagline,
  &-subscribe {
    display: table-cell;

    @include media($small-screen) {
      display: block;
      width: 100% !important;
    }
  }

  &-form,
  &-tagline {
    width: 70%;

    @include media($small-screen) {
      padding-left: $gutter;
    }
  }

  &-form {
    padding: $gutter*2 $gutter $gutter*2 $gutter*2;

    h3 {
      font-size: 1.25em;
      margin-bottom: 10px;
    }

    &-email[type=email] {
      background: left center no-repeat;
      @include retina-image(/images/email, 25px 20px);
      padding-left: 40px;
    }
  }

  &-tagline {
    padding: $gutter*2;

    @include media($medium-screen-down) {
      padding: $gutter;
    }
  }

  &-copyright,
  &-subscribe {
    border-left: 1px solid $base-border-color;
    padding: $gutter;
    position: relative;
    vertical-align: middle;
    width: 30%;

    &:before {
      @include position(absolute, null null -1px -10px);
      @include size(20px 1px);
      border-bottom: 1px solid $base-border-color;
      content: "";

      @include media($small-screen) {
        content: none;
      }
    }

    @include media($small-screen) {
      border-left: 0;
      border-top: 1px solid $base-border-color;
    }
  }

  &-copyright {
    p {
      font-size: .9em;
      font-weight: 200;
      margin: 0;
      text-align: center;
    }
  }

  &-subscribe {
    // border-color: $lighter-grey !important;
    padding-left: $gutter*2 !important;

    @include media($medium-screen-down) {
      padding-left: $gutter !important;
    }

    h3 { font-size: 1.2em; }

    &-links {
      margin: $gutter/2 0 0;

      li { margin: $gutter/3 0 0; }

      &-link {
        background-position: left center;
        background-repeat: no-repeat;
        // color: $black;
        font-size: .9em;
        margin: 0;
        padding: 3px 0 5px 35px;

        &:hover { color: lighten($medium-grey, 20%); }

        &--email { @include retina-image(/images/email, 25px 20px); }
        &--youtube { @include retina-image(/images/youtube, 25px 20px); }
      }
    }
  }
}
