.site_footer {
  @include clearfix;
  display: table;
  width: 100%;

  &-form,
  &-copyright {
    display: table-cell;

    @include media($small-screen) {
      display: block;
      width: 100% !important;
    }
  }

  &-form {
    padding: $gutter*2 $gutter $gutter*2 $gutter*2;
    width: 70%;

    @include media($small-screen) {
      padding-left: $gutter;
    }

    h3 {
      font-size: 1.25em;
      margin-bottom: 10px;
    }

    &-email[type=email] {
      background: left center no-repeat;
      @include retina-image(/images/email, 25px 20px);
      padding-left: 40px;
    }
  }

  &-copyright {
    border-left: 1px solid $base-border-color;
    padding: $gutter;
    position: relative;
    vertical-align: middle;
    width: 30%;

    &:before {
      @include position(absolute, null null -1px -10px);
      @include size(20px 1px);
      border-bottom: 1px solid $base-border-color;
      content: "";
      @include media($small-screen) {
        content: none;
      }
    }

    @include media($small-screen) {
      border-left: 0;
      border-top: 1px solid $base-border-color;
    }

    p {
      font-size: .9em;
      font-weight: 200;
      margin: 0;
      text-align: center;
    }
  }
}
