.site_header {
  background: $white;
  font-family: $display;
  padding: $gutter*2 0;

  &-logo {
    margin: 0 auto;
    text-align: center;

    h1 {
      font-size: 4em;
      letter-spacing: .025em;

      @include media($small-screen) { font-size: 3em; }

      &,
      & a {
        color: $black;
      }
    }

    h2 {
      color: $light-grey;
      font-size: 1.33em;
      letter-spacing: .11em;

      @include media($small-screen) { font-size: 1em; }
    }
  }
}
