// Prevents the modal from flashing on-screen.
.modal {
  display: none;
}

// The following directives only apply once the script has loaded.
body.vanilla-modal {

  .modal {
    @include position(fixed, 0);
    display: block;
    content: "";
    background: rgba($dark-grey, 0.8);
    z-index: -1;
    opacity: 0;
	// Note the delay on the z-index.
    // Read above if you're wondering
    // why this is here.
    transition: opacity 0.2s, z-index 0s 0.2s;
    text-align: center;
    overflow: hidden;
    overflow-y: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

    // This little bit of code centers the
    // modal's inner container vertically.
    > * {
      display: inline-block;
      white-space: normal;
      vertical-align: middle;
      text-align: left;
    }

    &:before {
      display: inline-block;
      overflow: hidden;
      width: 0;
      height: 100%;
      vertical-align: middle;
      content: "";
    }
  }

  &.modal-visible {
    .modal {
      z-index: 99;
      opacity: 1;
      // Note that we've removed any transiton on the
	  // z-index when the modal is in its visible state.
      transition: opacity 0.2s;
    }
  }

}

.modal-inner {
  box-shadow: 0 0 5px 1px rgba($darker-grey, .5);
  position: relative;
  overflow: hidden;
  width: 90%;
  max-height: 95%;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
  z-index: -1;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.2s, transform 0.2s, z-index 0s 0.2s;
  margin: 0;

  @include media($medium-screen-up) {
    width: 80%;
  }

  @include media($medium-height-screen) {
    .embed-wrapper { padding-bottom: 45%; }
  }

  @include media($small-height-screen) {
    .embed-wrapper { padding-bottom: 35%; }
  }

  .modal-visible & {
    z-index: 100;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.2s, transform 0.2s;
  }
}
