.season {
  $percentage: 15%; // Used for positioning the titles and such
  &-banner {
    @include linear-gradient(to right, $darker-grey, $dark-grey);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 1px solid $base-border-color;
    overflow: hidden;
    padding: $gutter*4 $gutter*2;
    padding-left: $percentage;
    position: relative;

    @include media($medium-screen-down) {
      padding-left: 0;
    }

    @include media($small-screen) {
      padding: $gutter*3 $gutter*2;
    }

    &--large {
      padding: $gutter*6 $gutter*2;
      padding-left: $percentage;

      @include media($medium-screen-down) {
        padding: $gutter*4 $gutter*2;
        padding-left: $gutter*2;
      }
    }

    &--view_all {
      padding: 0 $gutter;
      text-align: center;
      vertical-align: middle;
    }

    &--1,
    &--3,
    &--5,
    &--7,
    &--9 {
      padding-left: 0;
      padding-right: $percentage;
      text-align: right;

      @include media($medium-screen-down) {
        padding-right: 0;
      }

      .season-number { @include position(absolute, 50% (-$gutter) null auto); }

      @include media($large-screen-up) {
        .season-banner-play {@include position(absolute, 50% null null ($percentage + 5)); }
      }
    }

    &-link {
      @include position(absolute, 0);
      z-index: 2;
    }

    &-header {
      position: relative;
      z-index: 1;
      @include media($medium-screen-down) {
        text-align: center !important;
      }

      h1,
      h2 {
        position: relative;
        z-index: 2;
      }

      h1 { font-size: 3em; }
      h2 { @extend %subtle-text; }
    }

    &-play {
      @include media($large-screen-up) {
        @include position(absolute, 50% ($percentage + 5) null auto);
        @include transform(translateY(-50%));
        padding-left: 80px;
        text-align: left;
        z-index: 3;
      }

      @include media($medium-screen-down) {
        @include position(relative, auto !important);
        display: block;
        padding: $gutter $gutter 0;
        width: 100%;

        h3,
        p {
          display: none;
        }
      }

      &--soon h3 {
        display: block !important;
      }

      &-icon {
        @include position(absolute, 50% null null 0);
        @include size(63px 81px);
        background: url("/images/play.png") center no-repeat;
        background-size: 63px 81px;
        display: block;
        margin-top: -40px;
        text-indent: -9999px;

        @include media($medium-screen-down) {
          @include position(relative, auto);
          margin: 0 auto !important;
        }
      }

      h3 {
        font-size: 2.5em;
      }

      p {
        @extend %subtle-text;
        font-size: .8em;
        margin: 0;
      }
    }
  }

  &-number {
    @include position(absolute, 50% null null (-$gutter));
    color: $dark-grey;
    font-family: $display;
    font-size: 244px;
    line-height: 1em;
    margin: -122px 0 0;

    @include media($medium-screen-down) {
      padding-right: 10%;
    }

    @include media($small-screen) {
      left: 0 !important;
      right: 0 !important;
      padding: 0 !important;
      text-align: center;
    }
  }
}
