%base-input {
  @include transition(border-color);
  @include appearance(none);
  background-color: white;
  border: 0;
  box-shadow: 0;
  box-sizing: border-box;
  color: $light-grey;
  font-family: $sans-serif;
  font-size: $form-font-size;
  font-weight: 200;
  margin-bottom: 0; // TODO: or, $base-spacing / 2
  padding: $base-spacing / 2;
  width: 100%;
  &:focus {
    border-color: 0;
    box-shadow: none;
    outline: none;
  }
  @include placeholder {
    color: $medium-grey;
  }
  // &.error, &.fallback-error {
  //   background: $red6;
  //   border-color: $red4;
  //   color: $red3;
  // }
  // &.alert {
  //   background: $yellow5;
  //   border-color: $yellow2;
  //   color: $yellow2;
  // }
}
