.embed-wrapper {
  border-bottom: 1px solid $base-border-color;
}

.episode_info {
  background: $black;
  border-top: 1px solid $base-border-color;

  .modal & {
    @include linear-gradient(to right, $darker-grey, $dark-grey);
    border-top: 0;
  }

  &-wrap {
    @include clearfix;
    padding: $gutter 0;

    @include media($small-screen) {
      padding: $gutter/2 0 $gutter;
    }
  }

  &-meta,
  &-controls {
    float: right;
    width: 50%;

    @include media($small-screen) {
      float: none;
      width: 100%;
    }
  }

  &-meta {
    padding: 0 $gutter 0 $gutter*2;

    @include media($small-screen) {
      padding: 0 $gutter;
    }
  }

  &-controls {
    &-prev,
    &-next,
    &-play {
      @include size(33.3333% 90px);
      @include transition(opacity .2s $ease-in-out-quint);
      background: center no-repeat;
      cursor: pointer;
      display: block;
      float: left;
      margin: $gutter 0;
      text-indent: -9999px;

      @include media($small-screen) {
        margin: $gutter/2 0;
      }

      &:hover { opacity: .6; }
      &.is-disabled { opacity: .4 !important; }
    }

    &-next { @include retina-image(/images/controls-next, 32px 32px); }
    &-prev { @include retina-image(/images/controls-prev, 32px 32px); }
    &-play {
      @include retina-image(/images/controls-pause, 55px 60px);
      &.is-paused {
        @include retina-image(/images/controls-play, 55px 60px);
      }
    }
  }

  &-meta {
    h2 {
      font-size: 3em;
    }

    &-links {
      @extend %subtle-text;
      font-size: .9em;
    }
  }
}

.episode {
  &-twitter_link {
    @extend %subtle-text;
  }
}
