.episode_info {
  background: $black;
  border-top: 1px solid $base-border-color;

  &-wrap {
    @include clearfix;
    padding: $gutter $gutter*2 $gutter*2;

    @include media($small-screen) {
      padding: $gutter $gutter $gutter*2;
    }
  }

  &-meta,
  &-links {
    float: left;
    width: 50%;

    @include media($small-screen) {
      float: none;
      width: 100%;
    }
  }

  &-links {
    @extend %subtle-text;
  }
}

.episode {
  &-twitter_link {
    @extend %subtle-text;
  }
}
