.episode_list {
  @include clearfix;
  background: $darker-grey;
  border-top: 1px solid $base-border-color;

  &-item {
    border-bottom: 1px solid $base-border-color;
    border-right: 1px solid $base-border-color;
    float: left;
    position: relative;

    // Columns! Right border shouldn't exist on last item of each row
    width: 33.3333%;
    @include media($medium-screen-up) {
      &:nth-child(3n+3) { border-right: 0; }
    }
    @include media($huge-screen-up) {
      width: 25%;
      &:nth-child(3n+3) { border-right: 1px solid $base-border-color; }
      &:nth-child(4n+4) { border-right: 0; }
    }
    @include media($small-screen) {
      width: 50%;
      &:nth-child(2n+2) { border-right: 0; }
    }
    @include media($tiny-screen) {
      width: 100%;
      border-right: 0;
    }

    &:after {
      @include position(absolute, 20px 20px null null);
      @include size(25px 33px);
      @include transform(translateY(3px));
      @include transition(all .2s $ease-in-out-quint .1s);
      background: url("/images/play-small.png") center no-repeat;
      background-size: 20px 28px;
      content: "";
      display: block;
      opacity: 0;
      pointer-events: none;
    }
    &:hover:after {
      @include transform(translateY(0));
      opacity: 1;
    }

    &-info {
      @include position(absolute, null 0 0);
      @include transition(all .2s $ease-in-out-quint .1s);
      @include transform(translateY(-3px));
      opacity: 0;
      padding: $gutter;

      @include media($small-screen) {
        padding: $gutter/2;
      }

      .episode_list-item:hover & {
        @include transform(translateY(0));
        opacity: 1;
      }

      h2 a,
      h2 a:hover {
        color: $white;
      }

      p {
        margin-bottom: 0;
      }
    }

    &-image {
      @include transition(opacity .2s $ease-in-out-quint);
      width: 100%;

      .episode_list-item:hover & {
        opacity: .6;
      }
    }
  }
}
