<section class="about">
  <div class="about-tagline">
    <h1>
      <span class="gradient-1">Behind</span>
      <span class="gradient-2">every</span>
      <span class="gradient-3">line</span>
      <span class="gradient-4">of</span>
      <span class="gradient-5">code,</span>
      <span class="gradient-6">there’s</span>&nbsp;<span class="gradient-7">a</span>&nbsp;<span class="gradient-8">voice.</span>
    </h1>
    <h2>Meet the people that bring software to life.</h2>
    <p class="about-tagline-copyright">© 2015 <a href="https://changelog.com/" title="Changelog.com">The Changelog</a> | <a href="https://changelog.com/weekly/" title="">Signup&nbsp;for&nbsp;Changelog&nbsp;Weekly</a></p>
  </div>
  <div class="about-subscribe">
    <h3>Get Notified of New Seasons</h3>
    <ul class="about-subscribe-links">
      <li><a href="#" title="Get Notified via Email" class="about-subscribe-links-link about-subscribe-links-link--email">via Email</a></li>
      <li><a href="https://www.youtube.com/channel/UCZbtcRQHGpU_tt2yM4C7k0A" title="Subscribe on YouTube" class="about-subscribe-links-link about-subscribe-links-link--youtube">on YouTube</a></li>
    </ul>
  </div>
</section>
