<footer class="footer">
  <form class="footer-form js-validate" action="https://changelog.createsend.com/t/t/s/zjykt/" method="post" name="" target="_blank">
    <h3>Subscribe to Changlog Weekly</h3>
    <input class="footer-form-email" type="email" name="cm-zjykt-zjykt" placeholder="Email address..." required />
  </form>

  <div class="footer-copyright">
    <p>© 2015 <a href="https://changelog.com/" title="Changelog.com">The Changelog</a></p>
  </div>
</footer>
