<footer class="site_footer">
  <form class="site_footer-form js-validate" action="" method="post" name="" target="_blank" novalidate>
    <h3>Signup to the Changlog Weekly</h3>
    <input type="email" name="email" placeholder="Enter your email address..." />
  </form>

  <div class="site_footer-copyright">
    <p>© 2015 The Changelog</p>
  </div>
</footer>
