<footer class="footer">
  <div class="footer-tagline">
    <h1>
      <span class="gradient-1">Behind</span>
      <span class="gradient-2">every</span>
      <span class="gradient-3">line</span>
      <span class="gradient-4">of</span>
      <span class="gradient-5">code,</span>
      <span class="gradient-6">there’s</span>&nbsp;<span class="gradient-7">a</span>&nbsp;<span class="gradient-8">voice.</span>
    </h1>
    <h2>Meet the people that bring software to life.</h2>
    <p class="footer-tagline-copyright">© 2016 <a href="https://changelog.com/" title="Changelog.com">Changelog Media</a> | <a href="https://changelog.com/weekly/" title="" target="_blank">Signup&nbsp;for&nbsp;Changelog&nbsp;Weekly</a></p>
  </div>
  <div class="footer-subscribe">
    <h3>Get Notified of New Seasons</h3>
    <%= partial "subscribe_links" %>
  </div>
</section>
