<div class="episode_info-controls">
  <a id="player-control-prev" href="javascript:void(0);" title="Previous Episode" class="episode_info-controls-prev">Previous</a>
  <a id="player-control-play" href="javascript:void(0);" title="Play Episode" class="episode_info-controls-play">Play</a>
  <a id="player-control-next" href="javascript:void(0);" title="Next Episode" class="episode_info-controls-next">Next</a>
</div>
