<% if season.sponsors.any? %>
  <div class="sponsors">
    <p>Sponsor Love! Thank you to our gracious sponsors for supporting Season <%= season.number %>.</p>
    <div class="sponsors-wrap">
      <% season.sponsors.each do |sponsor| %>
        <div class="sponsors-item">
          <% link_to sponsor.url do %>
            <img class="sponsors-item-image" src="/images/sponsors/<%= sponsor.name.downcase.gsub " ", "-" %>.png" alt="<%= sponsor.name %>">
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
