<ul class="footer-subscribe-links">
  <li><a href="//email.changelog.com/h/t/82ADF8860E0776DB" title="Get Notified via Email" class="footer-subscribe-links-link footer-subscribe-links-link--email" target="_blank">via Email</a></li>
  <li><a href="//www.youtube.com/thechangelog" title="Subscribe on YouTube" class="footer-subscribe-links-link footer-subscribe-links-link--youtube" target="_blank">on YouTube</a></li>
</ul>
