---
title: Beyond Code
---

<div class="welcome">
  <% Season.published(data).each do |season| %>
    <h2><%= link_to season.title, season.slug %></h2>
    <ul>
      <% season.episodes.each do |episode| %>
        <li><%= link_to episode.title, "#{season.slug}/#{episode.slug}" %></li>
      <% end %>
    </ul>
  <% end %>
</div>
