<div class="videos">
  <ol>
    <% Season.published(data).each do |season| %>
      <li>
        <h3><%= link_to season.title, season.path %></h3>
        <img src="<%= season.thumbnail_url %>" alt="<%= season.title %>">
      </li>
    <% end %>
  </ol>
</div>
